<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Un proyecto universitario elaborado por: Michael Mejía</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.linkedin.com/in/michael-mejia-cano777" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/mikemc777" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © {{currentYear}} Copyright. Fatigue Variable Monitoring v.1.0
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
