<div class="main-header">
  <div class="main-header-class no-print">
    <nav class="navbar navbar-default navbar-miro nopadding" >
      <div class="header-wrapper no-print row w-100 no-margin-rl">
          <div class="container-fluid menu-logo-section nopadding navbar navbar-inner">
              <div class="col-12 col-md-3 navbar-header">
                  <button type="button" id="toggle-menu-button"
                          class="d-block d-md-none navbar-toggle ng-click-active" [ngClass]="{collapsed: !mobileMenuOpen}" (click)="onToggleMobileMenuHandler()">
                      <span class="icon-bar _1"></span>
                      <span class="icon-bar _2"></span>
                      <span class="icon-bar _3"></span>
                  </button>

                  <div class="navbar-brand py-0">
                      <div class="img-logo-container">
                          <a routerLink="/">
                              <span class="fatigue-monitoring-variable-title">Fatigue Variable Monitoring</span>
                          </a>
                      </div>
                  </div>
              </div>

              <div class="h-100 pt-1 d-none d-md-block col-md-9 position-relative">
                  <div class="row w-100 fixed-bottom position-absolute">
                      <div class="d-none d-md-block col-md-10 col-lg-10">
                          <div class="row px-0">
                              <div class="d-flex menu col-12 px-0 row text-center justify-content-center">
                                  <div class="col-auto"><a mat-button class="btn btn-default btn-xs btn-name link-btn px-0" routerLink="/">
                                  HOME</a></div>
                                  <div class="dropdown show col-auto"><a mat-button class="btn btn-default btn-xs btn-name link-btn px-0 dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    CONFIGURACIÓN</a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <a class="dropdown-item" routerLink="employees">Empleados</a>
                                      <a class="dropdown-item" routerLink="devices">Dispositivos</a>
                                      <a class="dropdown-item" routerLink="variables">Variables</a>
                                      <a class="dropdown-item" routerLink="templates">Plantillas</a>
                                    </div>
                                  </div>
                                  <div class="col-auto"><a mat-button class="btn btn-default btn-xs btn-name link-btn px-0" routerLink="file-reading">
                                  CONSULTAR ARCHIVO</a></div>
                                  <div class="col-auto"><a mat-button class="btn btn-default btn-xs btn-name link-btn px-0" routerLink="reports">
                                  REPORTES</a></div>
                              </div>
                          </div>
                      </div>
                      <div class="d-none d-md-flex col-md-2 col-lg-2 justify-content-end align-items-center">
                        <li class="dropdown">
                          <a mat-button class href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a routerLink="my-profile">Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="logout">Cerrar sesión</a></li>
                          </ul>
                        </li>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </nav>
    <div class="d-block d-md-none" >
      <div [ngbCollapse]="!mobileMenuOpen" >
          <fvm-header-mobile-menu ></fvm-header-mobile-menu>
      </div>
    </div>
  </div>
</div>

