<div class="wrapper">
  <ngx-charts-line-chart
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [autoScale]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [results]="multi"
    [animations]="animations"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    [timeline]="true"
    style="fill: #1f1d1d;">

  </ngx-charts-line-chart>
</div>
