<div class="container py-4">
  <h2 class="text-primary pt-3">Justificación:</h2>
  <p class="pb-3">
    La fatiga laboral es un fenómeno muy común en los ambientes de trabajo, y no se habla solo de aquellos que requieren de una alta carga física para desempeñarse o de extenuantes horas utilizando herramientas pesadas, sino de aquellos que requieren una alta carga psíquica y de estrés por las diversas tareas repetitivas, parcelarias y monótonas que deben desarrollar los empleados, inclusive en la comodidad de una silla durante varias horas. Cabe resaltar también la poca acción que las propias empresas acerca de este fenómeno ya que no encuentran formas eficaces de tratamiento de datos que lo adviertan y mucho menos la suficiente disponibilidad continua que se busca de ellos, a la vez que una accesibilidad que les permita prevenir con el tiempo, en sus trabajadores, situaciones de sedentarismo, aumento en el nivel de riesgo de accidentes laborales y morbilidad.
  </p>
  <h2 class="text-primary">Objetivo:</h2>
  <p class="pb-3">El objetivo de este proyecto es desarrollar una aplicación web que permita el monitoreo de variables que identifican la fatiga laboral durante las jornadas de los trabajadores en las empresas.</p>
  <h2 class="text-primary">Advertencias:</h2>
  <p class="pb-3">Cabe aclarar que la aplicación no garantiza la exactitud de las mediciones arrojadas por los sensores, sino que garantiza que los valores arrojados por estos puedan ser almacenados y mostrados en pantalla en forma de reportes que sirven a los profesionales de la salud para su posterior análisis. También la determinación de que los valores arrojados por los sensores están dentro de los rangos normales de salud de acuerdo a edad dependerá de la correcta configuración de los parámetros de las variables por parte del administrador de la plataforma. También dependerá de esa persona que un dato arrojado por las sensores sea asignado correctamente a la variable y el paciente correspondiente.</p>
</div>
<div class="bottom-space"></div>


