<div class="menu">
  <ul class="nav navbar-nav navbar-left">
    <li >
        <a href="/">
            Home
        </a>
    </li>
    <li >
        <a href="/employees">
          Empleados
        </a>
    </li>
    <li >
      <a href="/devices">
          Dispositivos
      </a>
    </li>
    <li >
      <a href="/variables">
          Variables
      </a>
    </li>
    <li >
      <a href="/templates">
          Plantillas
      </a>
    </li>
    <li >
      <a href="/file-reading">
          Consulta Archivo
      </a>
    </li>
    <li >
      <a href="/reports">
          Reportes
      </a>
    </li>
    <li >
      <a href="my-profile">
          Mi perfil
      </a>
    </li>
    <li >
      <a (click)="logOut()">
          Cerrar sesión
      </a>
    </li>
  </ul>
</div>
