<ng-container *ngIf="router.url === '/login'; then viewLogin; else viewComplete">
</ng-container>

<ng-template #viewLogin>
    <div class="all-page">
        <ngb-toast-container></ngb-toast-container>
        <router-outlet></router-outlet>
    </div>
</ng-template>
<ng-template #viewComplete>
    <div id="wrapper">
      <fvm-header class="main-header"></fvm-header>
      <fvm-breadcrumb></fvm-breadcrumb>
      <ngb-toast-container></ngb-toast-container>
      <router-outlet></router-outlet>
      <fvm-footer></fvm-footer>
    </div>
</ng-template>
